%h1 Student List
%br
= form_tag students_path, :method => :get, :class => 'form-search' do
  .input
    = select_tag(:support, options_for_select(@supports), :prompt => "Select Program")
    = submit_tag "Search"
%br
.table
  %table{:border => "1"}
    %tr
      %th SNo.
      %th Student ID
      %th Name
      %th School
      %th Class
    - i=1
    - @students.each do |student|
      %tr
        %td= i
        %td= link_to student.st_id, student
        %td= student.name
        %td= student.school
        -@class = grade(student.grade)
        %td= @class
        - i=i+1
%br
%p
  Download:
  = link_to "Excel", students_path(format: "xls")
%p
  Import Data:
  = form_tag import_students_path, multipart: true do
    = file_field_tag :file
    = submit_tag "Import"


= link_to "+ Add Student", new_student_path
